@tailwind base;
@tailwind components;
@tailwind utilities;

/* Updating font-face definitions for Clash Display with explicit weights */
@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayRegular.otf') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayMedium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplaySemibold.otf') format('opentype');
  font-weight: 600; /* Semi Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayBold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayExtraLight.otf') format('opentype');
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplayLight.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}
